.card {
  background: var(--dark-blue);
  color: var(--white);
  text-decoration: none;
}
.card:hover {
  color: var(--white);
}
.card:visited {
  color: var(--white);
}
.card img {
  height: 12.5rem;
  object-fit: cover;
}
.card .card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow-y: hidden;
  letter-spacing: 1px;
}
.card .card-text {
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}
.card .card-text strong {
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .card img {
    height: 16rem;
  }
}
