@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--very-dark-blue);
  color: var(--white);
}

.card-img-top {
  height: 10rem;
  object-fit: cover;
}

.login-form {
  margin: 5rem auto;
  width: 400px;
  display: grid;
  gap: 2rem;
  padding: 2rem;
}
