.login{
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

.login-form {
  margin: 0 auto;
  width: 400px;
  display: grid;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.3);
}