.navbar {
  background: var(--dark-blue);
  padding: 1rem 0;
}
.navbar h3 {
  margin: 0;
  margin-right: 1rem;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.dropdown-menu {
  display: block;
  top: 3rem;
  right: 0;
}
